#- name: instalando o docker
#  shell: apt install curl -y && curl -fsSL https://get.docker.com | bash 


- name: configurando repo para o docker
  shell:
    echo \
    "deb [arch=amd64 signed-by=/usr/share/keyrings/docker-archive-keyring.gpg] https://download.docker.com/linux/ubuntu \
    $(lsb_release -cs) stable" | sudo tee /etc/apt/sources.list.d/docker.list > /dev/null


- name: docker com suporte
  apt:
    name: docker.io
    state: present
    enabled: yes


- name: start Docker
  systemd:
    state: started
    daemon_reload: yes
    name: docker
    enabled: yes



- name: disable ufw
  systemd:
   name: ufw
   enabled: no
   state: stopped

- name: Adicionando as chaves do repo 
  apt_key:
    url: https://packages.cloud.google.com/apt/doc/apt-key.gpg
    state: present


- name: desativando swap
  shell:
    swapoff -a

- name: Desativando swap no fstab
  replace:
    path: /etc/fstab
    regexp: '^([^#].*?\sswap\s+sw\s+.*)$'
    replace: '# \1' 

- name: Adicionando o repo do k8s
  apt_repository:
    repo: deb https://apt.kubernetes.io/ kubernetes-xenial main
    state: present

- name: Instalando os pacotes kubeadm, kubelet e kubectl
  apt:
    name: "{{ packages }}"
  vars:
    packages:
    - kubelet
    - kubeadm
    - kubectl


- name: start kubelet
  systemd:
   name: kubelet
   enabled: yes
   state: started
    
- name: adicionando autocompletation
  shell:
    echo "source <(kubectl completion bash)" >> ~/.bashrc


