- name: instalando dependencias - CentOS
  yum:
    name: ['yum-utils', 'device-mapper-persistent-data', 'lvm2']
    state: present
    update_cache: true
- name: instalando o docker
  shell: curl -fsSL https://get.docker.com | bash 
  tags: docker
- name: desativando swap
  shell:
    swapoff -a

- name: Desativando swap no fstab
  replace:
    path: /etc/fstab
    regexp: '^([^#].*?\sswap\s+sw\s+.*)$'
    replace: '# \1' 

- name: criando a pasta docker no systemd
  file:
    path: /etc/systemd/system/docker.service.d
    state: directory
    mode: 0755

- name: adicionando os parametros de confiugração do docker daemon - CentOS
  blockinfile:
    dest: /etc/docker/daemon.json
    marker: ''
    create: yes
    block: |
      {
        "exec-opts": ["native.cgroupdriver=systemd"],
        "log-driver": "json-file",
        "log-opts": {
          "max-size": "100m"
        },
        "storage-driver": "overlay2",
        "storage-opts": [
          "overlay2.override_kernel_check=true"
        ]
      }
- name: disabilita SELinux - CentOS
  command: setenforce 0
  tags: docker
- name: disabilita SELinux on reboot - CentOS
  selinux:
    state: disabled
  tags: docker
- name: add repositorio YUM Kubernetes - CentOS
  yum_repository:
   name: Kubernetes
   description: Kubernetes YUM repository
   baseurl: https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64
   gpgkey: https://packages.cloud.google.com/yum/doc/yum-key.gpg https://packages.cloud.google.com/yum/doc/rpm-package-key.gpg
   gpgcheck: yes
- name: criando a pasta docker no systemd
  file:
    path: /etc/systemd/system/docker.service.d
    state: directory
    mode: 0755
- name: start Docker
  systemd:
    state: started
    daemon_reload: yes
    name: docker
    enabled: yes
- name: enable docker
  service:

- name: garantindo que net.bridge.bridge-nf-call-ip6tables esteja setada como 1
  sysctl:
   name: net.bridge.bridge-nf-call-ip6tables
   value: 1
   state: present
- name: grantindo net.bridge.bridge-nf-call-iptables esteja setada como 1
  sysctl:
   name: net.bridge.bridge-nf-call-iptables
   value: 1
   state: present
- name: instalando kubelet  kubeadm kubectl
  yum:
   name: ['kubelet', 'kubeadm','kubectl']
   state: present
   update_cache: true   

- name: adicionando autocompletation
  shell:
    echo "source <(kubectl completion bash)" >> ~/.bashrc
